# Python - Data Structure
## Assignment 2
## Qazi Zamin
## PWskills

### Q1) Discuss string slicing and provide examples.

- string slicing in Python allows us to extract substrings from a string by specifying start and end indices. The syntax for string slicing is: string[start_index:end_index:step].
. start_index : The index at which the slicing begins. It is inclusive, which means the character at this index will be included in the sliced result.
. end_index: The index at which the slicing ends. It is exclusive, meaning the character at this index will not be included in the sliced result.
. step (optional): Specifies the increment between characters to include in the sliced result. The default value is 1, but you can use negative values to slice the string in reverse.

Below are some examples to illustrate string slicing:

In [6]:
# examples from the string1

string1 = "i am a very good student"
string1

'i am a very good student'

In [7]:
len(string1)

24

In [5]:
# lets say we want to extract 'i am a very' from the above string , we use slicing

string1[0:11]

'i am a very'

In [9]:
# now the string is of 24 characters in total, lets say we want to extract from index 5 to index 15

string1[5:16]     # 16 will not be included

'a very good'

In [10]:
# to return whole string using slicing

string1[0:]

'i am a very good student'

In [11]:
# now if we want all the characters except last 7 characters

string1[:-7]

'i am a very good '

In [12]:
# and if we want last 7 characters only

string1[-7:]

'student'

In [13]:
# if we want to return alternate characters from beginning to end

string1[::2]        # we are keeping start and end empty and giving step by 2, (by default step is 1)

'ia  eygo tdn'

In [15]:
# if we want a reverse of this string of the above example

string1[::-1]        # we are keeping start and end empty and giving step by -1, which will return the whole string from end to beginning

'tneduts doog yrev a ma i'

In [16]:
# like this we can do a lot with the help of string slicing

### Q2) Explain the key features of lists in python.

- Lists in Python are incredibly versatile and one of the most commonly used data structures. the key features of list in python include: ordered collection of items, list is a mutable data structure, list can hold all types of data (heterogenous nature) , length of the list can be changed (Dynamic sizing), Accessing elements is easy, iterability, common operations.

- ORDERED COLLECTION : Lists are ordered collections of items. This means that the items in a list maintain their order, and you can access them by their position or index.

In [17]:
# ORDERED COLLECTION

l = [1,2,3,5,8,'apple']
l

[1, 2, 3, 5, 8, 'apple']

In [18]:
# as per i have placed them into the list , same way it returned after execution
# now as per indexing 'apple' lies at 5th index in the list, so let's access it.

l[5]

'apple'

- Mutablility: Lists are mutable, meaning you can change, add, or remove elements after the list has been created.

In [20]:
# MUTABILITY

l

[1, 2, 3, 5, 8, 'apple']

In [21]:
# lets change '1' to 'banana'

l[0] = 'banana'

In [22]:
l             # 1 is modified to 'banana'

['banana', 2, 3, 5, 8, 'apple']

In [23]:
# let's add an element 'carrot' to the end of the list

l.append('carrot')

In [24]:
l

['banana', 2, 3, 5, 8, 'apple', 'carrot']

In [25]:
# let's remove 'apple' 

l.remove("apple")

In [26]:
l

['banana', 2, 3, 5, 8, 'carrot']

- Heterogeneous Elements: Lists can contain elements of different data types. You can have integers, strings, floats, or even other lists as elements within a single list.

In [28]:
# HETEROGENEOUS ELEMENTS

l1 = [1,2.2,3+7j,"abc",True]
type(l1)                         # hence the type proves that it is a list which is containing different data types

list

- Dynamic Sizing: Lists in Python are dynamic in size, meaning they can grow or shrink as needed. You can append elements to the end of a list, insert elements at specific positions, or remove elements from the list.

In [29]:
# DYNAMIC SIZING

my_list = [1, 2, "apple", 3.14]
my_list

[1, 2, 'apple', 3.14]

In [31]:
# add an element

my_list.append("TIGER")

In [32]:
my_list

[1, 2, 'apple', 3.14, 6, 'TIGER']

In [33]:
# REMOVING ELEMENT
my_list.remove("apple")

In [34]:
my_list

[1, 2, 3.14, 6, 'TIGER']

- Accessing Elements: You can access elements in a list using indexing and slicing. Slicing allows you to extract a subset of elements from the list.

In [35]:
# ACCESSING ELEMENTS

my_list

[1, 2, 3.14, 6, 'TIGER']

In [36]:
# ACCESS TIGER

my_list[-1]  # by negative indexing

'TIGER'

In [37]:
my_list[4]   # by positive indexing

'TIGER'

- Iterability: Lists can be iterated over using loops, making it easy to perform operations on each element of the list.

In [38]:
my_list

[1, 2, 3.14, 6, 'TIGER']

In [39]:
for item in my_list:
    print(item)

1
2
3.14
6
TIGER

- Common Operations: Lists support various operations such as concatenation, repetition, membership testing, finding the length, sorting, and more.

In [40]:
# FINDING LENGTH

l1 = [1,2,3,90,'smv','ball',True]

In [41]:
len(l1)

7

In [42]:
# MEMBERSHIP IN, NOT IN

l1

[1, 2, 3, 90, 'smv', 'ball', True]

In [43]:
3 in l1

True

In [44]:
3 not in l1

False

In [50]:
# sorting

l1 = [1, 2, 3, 90, 78, 45, 121]
sorted(l1)

[1, 2, 3, 45, 78, 90, 121]

### Q3) Describe how to access , modify and delete elements in a list with examples.

- Accessing Elements: You can access elements in a list using indexing and slicing. Slicing allows you to extract a subset of elements from the list.

- Indexing: You can access individual elements in a list by specifying their position, or index, within square brackets. Python uses zero-based indexing, meaning the index of the first element is 0, the second element is 1, and so on. You can also use negative indexing, where -1 refers to the last element, -2 refers to the second last element, and so forth.

- Slicing: You can extract a sublist, or slice, from a list by specifying a range of indices separated by a colon [:]. The slice will include elements from the start index up to, but not including, the end index. If you omit the start index, Python assumes it as 0, and if you omit the end index, Python assumes it as the length of the list.

- Step Size: You can specify a step size when slicing a list, which determines the interval between elements in the resulting slice.

In [51]:
# ACCESSING ELEMENTS BY INDEXING

list1 = [1,90,'elephant','dog',True, 5.98]

list1

[1, 90, 'elephant', 'dog', True, 5.98]

In [52]:
# positive indexing

list1[3]

'dog'

In [54]:
# negative indexing

list1[-4]

'elephant'

In [ ]:
######################################################################################

In [55]:
# ACCESSING ELEMENTS BY SLICING

list_vehicle = ['bike','car','bus','train']

list_vehicle

['bike', 'car', 'bus', 'train']

In [56]:
# get first 3 elements

list_vehicle[0:3]    # 3 will be excluded

['bike', 'car', 'bus']

In [57]:
# get last 2 elements

list_vehicle[2:4]

['bus', 'train']

In [58]:
# get first 2 by negative slicing

list_vehicle[:-2]

['bike', 'car']

In [59]:
# get last 3 by negative slicing

list_vehicle[-3:]

['car', 'bus', 'train']

In [60]:
# ACCESSING BY STEP SIZE

state_list = ['delhi','punjab','karnataka','maharashtra','up','hp','bihar','jammu and kashmir']

In [61]:
# get alternate states from the list 

state_list[::2]   # simply leave the start and end index empty and give step by 2

['delhi', 'karnataka', 'up', 'bihar']

- Modifying elements in a list in Python is quite flexible because lists are mutable, meaning you can change their elements after the list has been created. You can modify elements in a list by some of these functions:

- Direct Assignment: You can directly assign a new value to a specific index in the list to modify that element.

- Append and Extend: You can add new elements to the end of the list using the append() method, or you can extend the list by appending another list using the extend() method.

- Insert: You can insert a new element at a specific index using the insert() method.

- Concatenate : add two lists together

In [62]:
# DIRECT ASSIGNMENT

my_list = ["apple","samsung","macbook","airpods","ipad"]
my_list

['apple', 'samsung', 'macbook', 'airpods', 'ipad']

In [63]:
# change samsung to iphone by direct assignment, for that access the samsung first

my_list[1]

'samsung'

In [64]:
my_list[1] = "iphone"          # direct assignment

In [65]:
my_list

['apple', 'iphone', 'macbook', 'airpods', 'ipad']

In [66]:
# APPEND()

my_list = ["apple","samsung","macbook","airpods","ipad"]

In [67]:
# ADD AN ELEMENT "i-watch" TO THE END OF THE LIST

my_list.append("i-watch")       # append adds elements to the end

In [68]:
my_list

['apple', 'samsung', 'macbook', 'airpods', 'ipad', 'i-watch']

In [69]:
# EXTEND()

my_list = ['ice cream','cold drinks','chips','biscuits']
home_list = ['tomato','onion','chicken','garlic paste','sauce']

my_list.extend(home_list)         # homelist is now added to my list / my list has been extended by homelist

In [70]:
my_list

['ice cream',
 'cold drinks',
 'chips',
 'biscuits',
 'tomato',
 'onion',
 'chicken',
 'garlic paste',
 'sauce']

In [71]:
# INSERT ()

home_list = ['tomato','onion','chicken','garlic paste','sauce']
home_list

['tomato', 'onion', 'chicken', 'garlic paste', 'sauce']

In [72]:
# add potato right after tomato

home_list.insert(1,"potato")           # it will add potato to the list at the index of 1

In [73]:
home_list

['tomato', 'potato', 'onion', 'chicken', 'garlic paste', 'sauce']

In [74]:
# CONCATENATE

list1 = ["abc","def","ghi"]
list2 = [123,456,789]

list1 + list2                        # concatenating by + operator

['abc', 'def', 'ghi', 123, 456, 789]

- To delete elements in a list in Python, you have several options depending on what exactly you want to achieve:



- Using del statement: You can use the del statement followed by the element's index to delete it from the list.

- Using remove() method: If you know the value of the element you want to remove but not its index, you can use the remove() method.

- Using pop() method: If you want to remove an element by its index and also want to do something with that element, you can use the pop() method. If you call pop() without any argument, it removes and returns the last element of the list.

In [75]:
# USING DEL STATEMENT

# Create a list
my_list = [1, 2, 3, 4, 5]

# Delete element at index 2
del my_list[2]

In [76]:
my_list

[1, 2, 4, 5]

In [77]:
# USING REMOVE() METHOD

home_list = ['tomato','onion','chicken','garlic paste','sauce']

home_list.remove('tomato')

In [78]:
home_list

['onion', 'chicken', 'garlic paste', 'sauce']

In [80]:
#  USING POP() METHOD

home_list = ['tomato','onion','chicken','garlic paste','sauce'] # by default pop() removes the last element
home_list.pop()

'sauce'

In [81]:
home_list

['tomato', 'onion', 'chicken', 'garlic paste']

In [82]:
home_list.pop(2)    # pop(2) will remove element with index value of 2

'chicken'

In [83]:
home_list

['tomato', 'onion', 'garlic paste']

### Q4) Compare and contrast tuples and lists with examples.

- A TUPLE in Python is an immutable ordered collection of elements. Once created, the elements within a tuple cannot be changed, added, or removed. Tuples are defined using parentheses () and can contain elements of any data type, including other tuples.


- A LIST in Python is a mutable, ordered collection of elements. It allows you to store and manipulate multiple items in a single variable. Lists are defined using square brackets [] and can contain elements of different data types, including other lists.


- so let's compare and contrast tuples and lists:


- Mutability:
- Lists: Lists are mutable, which means you can add, remove, or modify elements after the list is created.
- Tuples: Tuples are immutable, meaning once a tuple is created, you cannot change its contents.


- Syntax:
- Lists: Lists are created using square brackets [ ].
- Tuples: Tuples are created using parentheses ( ).


- Performance:
- Lists: Lists are generally slower than tuples, especially for large collections, because lists require more memory allocation due to their mutability.
- Tuples: Tuples are more memory efficient and faster than lists, especially for simple operations, because they are immutable.


- Iteration:
- Lists: Lists support iteration using loops or list comprehensions.
- Tuples: Tuples also support iteration in the same way as lists.


- Use Cases:
- Lists: Lists are commonly used when you need a collection of elements that may change over time, or when you need to perform operations like appending, removing, or sorting elements.
- Tuples: Tuples are commonly used when you want to store a fixed collection of elements, especially when the order and number of elements are known and won't change.

In [85]:
# SYNTAX:

# LIST:

lis = [1,2,3,4]
type(lis)

list

In [86]:
# TUPLE

tup = (1,2,3,4)
type(tup)

tuple

In [87]:
# MUTABILITY

# LIST (list is mutable)

lis = [1,2,3,4]
lis[0]

1

In [88]:
lis[0] = "a"         # changing an element

In [89]:
lis

['a', 2, 3, 4]

In [90]:
# TUPLE (tuple is immutable)

tup = (1,2,3,4)
tup[0]

1

In [91]:
tup[0] = "a"      # it will return an error because tuple is immutable , which means elements once created cant be changed

TypeError: 'tuple' object does not support item assignment

In [92]:
# ITERATION

# LIST

lis = [1,1.4,2+3j,True,'cricket']
for i in lis:
    print(i)

1
1.4
(2+3j)
True
cricket

In [93]:
# TUPLE

tup = (90,33.33,'hello','bye',False)
for i in tup:
    print(i)

90
33.33
hello
bye
False

In [94]:
# SLICING

# LIST

lis = [1,1.4,2+3j,True,'cricket']
lis[0:3]

[1, 1.4, (2+3j)]

In [95]:
# TUPLE

tup = (90,33.33,'hello','bye',False)
tup[1:4]

(33.33, 'hello', 'bye')

 - In summary, lists are mutable, while tuples are immutable. Lists are used for dynamic data, while tuples are used for static data. Lists provide flexibility, while tuples offer performance benefits and data integrity guarantees.

### Q5) Describe key features of sets and provide examples of their use.

- Sets in python are unordered and unique collection of elements, sets doesn't allow duplicate elements. as sets are unordered collection of elements , hence no concept of indexing. we can define sets in a more confined way as Sets in Python are unordered collections of unique elements. They are defined using curly braces {}, or you can create a set using the set() constructor. Sets are useful for various operations such as checking for membership, removing duplicates from a sequence, and performing mathematical set operations like union, intersection, and difference.


- Some Key features of sets in Python:


- Uniqueness: Sets contain only unique elements. If you try to add a duplicate element to a set, it will be ignored.

- Unorderedness: Sets are unordered, meaning the elements are not stored in any particular order. This also means that sets do not support indexing or slicing.

- Mutability: Sets are mutable, meaning you can add or remove elements after the set is created.

- Membership Testing: Sets provide fast membership testing. You can quickly check if an element is present in a set using the in keyword.

In [101]:
# UNIQUENESS

set1 = {1,1,1,1,2,2,2,2,3,3,4,4,5,5,6,7,7,88,88,99,99,'day','day','day'}

In [102]:
set1         # while executing set will return unique elements

{1, 2, 3, 4, 5, 6, 7, 88, 99, 'day'}

In [103]:
# UNORDEREDNESS

set2 = {55,49,21,43,98,76,33,101,44,44}

In [104]:
set2            # after execution we can see that result of elements is in a different order , unlike we put them in.(unordered)

{21, 33, 43, 44, 49, 55, 76, 98, 101}

In [105]:
# MUTABILITY

set3 = {'apple','pineapple','coconut','banana','mango','guava'}

In [106]:
set3

{'apple', 'banana', 'coconut', 'guava', 'mango', 'pineapple'}

In [107]:
# adding cherry to the set : add()

set3.add("cherry")             # it will add cherry to the set, hence modified, hence mutable

In [108]:
set3

{'apple', 'banana', 'cherry', 'coconut', 'guava', 'mango', 'pineapple'}

In [109]:
# removing an element : pop()

set3

{'apple', 'banana', 'cherry', 'coconut', 'guava', 'mango', 'pineapple'}

In [111]:
set3.pop()     # pop() removes the random element from the set

'cherry'

In [112]:
set3

{'apple', 'banana', 'guava', 'mango', 'pineapple'}

In [113]:
# removing an element using : remove()

set3

{'apple', 'banana', 'guava', 'mango', 'pineapple'}

In [116]:
set3.remove("mango")       # remove() removes the particular element that you mention in the parenthesis

In [117]:
set3

{'apple', 'banana', 'guava', 'pineapple'}

In [118]:
# updating a set : update()

set3

{'apple', 'banana', 'guava', 'pineapple'}

In [119]:
set3.update("ball")       # it will return ball as 'b' 'a' l'l ' in a set

In [120]:
set3

{'a', 'apple', 'b', 'banana', 'guava', 'l', 'pineapple'}

In [121]:
# updating a set : update item as 1 item : update([])

set3

{'a', 'apple', 'b', 'banana', 'guava', 'l', 'pineapple'}

In [122]:
set3.update(["ball"])      # returns 'ball' as one element

In [123]:
set3

{'a', 'apple', 'b', 'ball', 'banana', 'guava', 'l', 'pineapple'}

In [124]:
# MEMBERSHIP IN SET : in , not in

set3

{'a', 'apple', 'b', 'ball', 'banana', 'guava', 'l', 'pineapple'}

In [125]:
'ball' in set3

True

In [126]:
'ball' not in set3

False

### Q6) Discuss the use cases of tuples and sets in python programming.

- Tuples are ordered collection of elements, tuples can store heterogeneous data , tuples are immutable which means we can not modify them.
- Sets in python are unordered and unique collection of elements, sets doesn't allow duplicate elements. as sets are unordered collection of elements , hence no concept of indexing.


- Tuples and sets are both useful data structures in Python, each with its own set of use cases.


- Use Cases of Tuples:

- Immutable Data Storage: Tuples are often used to store collections of data where the order and elements are fixed and should not be changed. For example, representing coordinates (x, y)
- Returning Multiple Values: Functions can return multiple values as a tuple, which can then be easily unpacked by the caller. This is useful when a function needs to return more than one value.
- Dictionary Keys: Tuples can be used as keys in dictionaries because they are immutable.  (keys in dictionaries can not be mutable)



- Use Cases of Sets:

- Removing Duplicates: Sets are useful for removing duplicate elements from a collection efficiently.
- Membership Testing: Sets provide fast membership testing. You can quickly check if an element is present in a set using the in keyword.
- Mathematical Set Operations: Sets support various mathematical operations such as union, intersection, and difference. These operations can be used for data manipulation and analysis.


Below are some examples for usecases of both tuples and sets:

In [130]:
######### TUPLES ##########

tuple1 = ("david","noah","jesus","aaron", 1, 2.7, 3+8j)
tuple1

('david', 'noah', 'jesus', 'aaron', 1, 2.7, (3+8j))

In [131]:
# as sets are immutable, let's still stry to change an element

tuple1[0]

'david'

In [132]:
tuple1[0] = "isaac"   # returns an error as tuple is immutable data structure

TypeError: 'tuple' object does not support item assignment

In [133]:
# tuples used as dictionary keys

d = {(1,2):"africa"}      # as tuples are immutable , keys in dict can be none other than immutable objects
d

{(1, 2): 'africa'}

In [134]:
type(d)

dict

In [135]:
# let's try tuple as a dictionary value

d1 = {'abc':(123,234)}     # tuple as a value in dict can be used

In [136]:
d1

{'abc': (123, 234)}

In [137]:
########## SETS ##########

# REMOVES DUPLICATES (returning only unique)

sett = {1,1,1,1,3,3,4,4,"bag","bag","bag"}

In [138]:
sett                  # regardless of how many times an element is repeated while defining a set, after execution it will return only unique elements and removes duplicates.

{1, 3, 4, 'bag'}

In [142]:
# MEMBERSHIP TESTING: in , not in

# in

fruits = {'mango','banana','orange','berry'}

'berry' in fruits

True

In [143]:
# not in

fruits

{'banana', 'berry', 'mango', 'orange'}

In [144]:
'carrot' not in fruits

True

In [147]:
# MATHEMATICAL SET OPERTAIONS:

s1 = {"singing","dancing","playing"}
s2 = {"travelling","playing","trekking"}

In [148]:
# UNION:(combines elements from two sets and excludes duplicates)

s1|s2

{'dancing', 'playing', 'singing', 'travelling', 'trekking'}

In [154]:
# INTERSECTION:(only common elements between sets)

s1&s2

{'playing'}

In [152]:
# DIFFERENCE:(returns the element that is present in first set but not in second set)

s1-s2

{'dancing', 'singing'}

In [151]:
# SYMMETRIC DIFFERENCE:(returns the elements which are not common in both the sets)

s1^s2

{'dancing', 'singing', 'travelling', 'trekking'}

### Q7) Describe how to add, modify and delete items in a dictionary with examples.

- In Python, a dictionary is a data structure used to store collections of items as key-value pairs. dictionaries are defined using curly braces {}, and each key-value pair is separated by a colon :. Keys must be unique within a dictionary, but values can be duplicated.


- Adding items:
- To add a new item to a dictionary, you simply assign a value to a new key. If the key already exists, its value will be overwritten with the new value. If the key doesn't exist, a new key-value pair will be created.


- Modifying items:
- To modify the value of an existing key in a dictionary, simply assign a new value to that key.


- Deleting items:
- items can be deleted from a dictionary using the del keyword or the pop() method. Using del removes the specified key-value pair from the dictionary, while pop() removes the item with the specified key and returns its value.


Below are the examples to illustrate the following:

In [156]:
d = {'name':'zamin','email':'zaminqazi@gmail.com','contact':990298}
d

{'name': 'zamin', 'email': 'zaminqazi@gmail.com', 'contact': 990298}

In [157]:
# ADDING ITEMS IN A DICTIONARY
# to create a new key value pair

d['address'] = 'jammu and kashmir'      # will create a new key value pair in an existing dictinary

In [158]:
d

{'name': 'zamin',
 'email': 'zaminqazi@gmail.com',
 'contact': 990298,
 'address': 'jammu and kashmir'}

In [159]:
# MODIFYING ITEMS IN A DICTIONARY
# to overwrite a key value pair

d = {'name':'zamin','email':'zaminqazi@gmail.com','contact':990298, 'name':'qazi'}    # 'name' key with new value will overwrite the previous value

In [160]:
d

{'name': 'qazi', 'email': 'zaminqazi@gmail.com', 'contact': 990298}

In [161]:
# TO UPDATE A DICTIONARY WITH OTHER DICTIONARY

d

{'name': 'qazi', 'email': 'zaminqazi@gmail.com', 'contact': 990298}

In [162]:
d1 = {'course':'data science'}       # will update a new key value pair in an existing dictionary

In [163]:
d.update(d1)

In [164]:
d

{'name': 'qazi',
 'email': 'zaminqazi@gmail.com',
 'contact': 990298,
 'course': 'data science'}

In [165]:
# to clear the dictionary

d

{'name': 'qazi',
 'email': 'zaminqazi@gmail.com',
 'contact': 990298,
 'course': 'data science'}

In [166]:
d.clear()      # will return an empty dict

In [167]:
d

{}

In [169]:
# DELETING ITEMS IN A DICTIONARY
# remove the specified key-value pair from the dictionary: del()

d = {'name':'zamin','email':'zaminqazi@gmail.com','contact':990298}

In [170]:
d

{'name': 'zamin', 'email': 'zaminqazi@gmail.com', 'contact': 990298}

In [171]:
del d['contact']         # will delete this specific key value pair from the dictionary

In [172]:
d

{'name': 'zamin', 'email': 'zaminqazi@gmail.com'}

In [173]:
# remove the item with the specified key and returns its value: pop()

d = {'name':'zamin','email':'zaminqazi@gmail.com','contact':990298}

In [174]:
d

{'name': 'zamin', 'email': 'zaminqazi@gmail.com', 'contact': 990298}

In [175]:
d.pop('email')       # will remove the particular item & return it's value when executed

'zaminqazi@gmail.com'

In [176]:
d

{'name': 'zamin', 'contact': 990298}

### Q8) Discuss the importance of dictionary keys being immutable and provide examples.

-  In Python, dictionary keys are unique identifiers for the values stored in a dictionary. Keys must be immutable objects, which means they cannot be changed once they are created. simply we can say dictionary keys in Python are unique, immutable objects used to identify values stored in a dictionary. They play a crucial role in efficiently organizing and accessing data in dictionary-based data structures.


- the immutability of dictionary keys is essential for the reliable and efficient operation of dictionaries in Python. It facilitates fast and consistent lookup, maintains data integrity, and ensures the stability of dictionary-based data structures. the immutability of dictionary keys ensures consistency, integrity, efficient lookup, and reliable data mapping in Python dictionaries. It is an essential feature that contributes to the reliability and performance of dictionary-based data structures.

- Consistency and Integrity:
- Immutability ensures that once a key is added to a dictionary, its value cannot be changed. This guarantees the consistency and integrity of the dictionary's keys, preventing accidental modifications that could lead to unexpected behavior or data corruption.

- Hashability:
- Dictionary keys must be hashable objects, meaning they must have a consistent hash value throughout their lifetime. Immutable objects such as strings, numbers, and tuples are hashable, while mutable objects such as lists and dictionaries are not. This ensures that dictionary keys can be efficiently stored and retrieved based on their hash values.
- ("hashable" refers to an object's ability to be hashed. Hashing is a process that takes an input (often referred to as the "key") and produces a fixed-size string of bytes, which is typically used to uniquely identify the input.)

- Efficient Lookup:
- Immutable keys enable efficient lookup operations in dictionaries. Since the hash value of an immutable object remains constant, the dictionary can quickly determine the location of the key's corresponding value in memory, resulting in fast retrieval times even for large dictionaries.

- Dictionary Integrity:
- If dictionary keys were mutable, modifying a key after it has been added to the dictionary could potentially disrupt the internal structure of the dictionary, leading to inconsistencies or errors in key-value mapping. Immutability ensures the integrity of the dictionary's structure, maintaining the mapping between keys and values intact.

In [178]:
# Example

d = {"name":"zamin","email":"zaminqazi@gmail.com","contact":9682359228}

# if we want to change the value of the key, it is possible

d["name"] = "Qazi"      # changing value of name to "Qazi"

In [179]:
d

{'name': 'Qazi', 'email': 'zaminqazi@gmail.com', 'contact': 9682359228}

In [180]:
# CONSISTENCY AND INTEGRITY
# if we want to see the name only from the dictionary , it will be easy just by accessing name key

d["name"]             # simply put the key , as key acts as an index of element in a dict

'Qazi'

In [181]:
# HASHABILITY

# lets try list as a key (as we know lists are mutable and keys should be immutable)

d = {[1,2,3]:"peter"}          # ERROR : unhashable type , keys should be hashable , so any mutable thing cant be set as a key

TypeError: unhashable type: 'list'

In [182]:
# now let's try tuple as a key (tuples are immutable so it should work)

d = {(1,2,3):"john"}

In [183]:
d[(1,2,3)]           # tuples can be set as a key due to it's hashable nature

'john'

In [193]:
# EFFICIENT LOOKUP
# immutable keys enable efficient lookup operations in dictionaries

employee_record = {
    'E001':{'name':'travis','department':'health science','salary':94500},
    'E002':{'name':'will','department':'Radiology','salary':64500},
    'E003':{'name':'mohan','department':'x-ray','salary':59500},
    'E004':{'name':'nathan','department':'cyber security','salary':99000}
}

In [194]:
# now if we want to look-up for the information about any employee , simply we will type the employee id and get details

employee_record.get("E001")

{'name': 'travis', 'department': 'health science', 'salary': 94500}

In [195]:
employee_record.get("E003")

{'name': 'mohan', 'department': 'x-ray', 'salary': 59500}